constraints: aeson ==0.11.1.4,
             cmdargs ==0.10.13,
             colour ==2.3.3,
             containers ==0.5.6.2,
             data-default ==0.5.3,
             directory ==1.2.2.0,
             friday ==0.2.2.0,
             friday-devil ==0.1.1.1,
             split ==0.2.2,
             v4l2 ==0.1.0.3,
             vector ==0.11.0.0,
             vector-space ==0.10.3,
             yaml ==0.8.16
